/** INDEX STYLING */
    .content hr {
        width: 85%;
    }
    .content {
        color: rgb(20, 50, 95);
        padding-bottom: 5%;
    }
    .content h1 {
        font-size: 80px;
        text-align: center;
        margin: auto;
        padding: 40px;
    }
    .content .text-bodies {
        margin-bottom: 5px;
        margin-left: 7.5%;
        margin-right: 7.5%;
        padding-top: 25px;
        text-align: justify;
    }
    .content p {
        font-size: 18px;
        text-wrap: wrap;
        color: rgb(40, 40, 40);
    }
    .content p a {
        font-style: italic;
        color: rgb(20, 50, 95);
    }
    .content p a:hover {
        color: rgb(0, 56, 147);
    }
    .content h2 {
        margin-top: 80px;
        font-size: 40px;
        text-align: left;
        padding: 0 7.5%;
    }
    .content #contribution {
        padding-top: 250px;
    }
/** INDEX STYLING */